

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* shared color***********/


.primary-color{
    color: #4E47FF;
}
.btn{
    padding: 12px 36px;
    background-color: #4E47FF ;
    border: none;
    border-radius: 10px;
}
.title-color{
    color: #252432;
}


/* nav section */
body{
    margin: 0;
}
header{
    background-image: url("../Assets/Hero-bg.png");
    
 
  
}
nav{
    display: flex;
    /* max-width: 1140px; */
    margin:0 150px; 
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    font-weight: 900;
    font-size: 34px;
   
    
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    
}
/* *****************hero section */
.hero-section{
    text-align: center;
   padding: 152px 267.5px 120px 267.5px;
    
}
.hero-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
    color: #252432;
}
/* main */
main{
   
    background-color: #F5F8FF;
    
}
/* action part */
.contents{
    display: flex;
    justify-content: space-between;
    gap: 220px;
    align-items: center;
   

}
.action-content{
    max-width: 1140px;
    margin: 0 auto;
    padding: 77px 0 0 0;
   
}
img{
    width: 100%;
}
.imges img{
    border-radius: 48px;
}
.content{
    padding: 62px 0;
   
}
.content-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}
.content-description{
    font-size: 24px;
    font-weight: 400;
    padding: 0 100px 0 0;
    margin-bottom: 23px;
    color: #252432;
}
/* users part */
.users{
    max-width: 1140px;
   background: rgba(78, 71, 255, 0.1);
   margin: 0 auto;
   border-radius: 24px;
  margin-top: 108px;

}
.users h3{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    padding: 50px 142px 40px 142px;
}
.user-container{
    display: flex;
    justify-content: space-around;
}
.user-item h1{
    font-size: 80px;
    font-weight: 700;
    margin: 0;

}
.user-item p{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

